<h1 class="ok">Prax is installed</h1>

<section>
  <p>
    Set up a Rack application by symlinking it into your <code><%= @root %></code>
    directory. The name of the symlink determines the hostname you&rsquo;ll use to
    access the application.
  </p>

<pre><span>$</span> cd /path/to/myapp
<span>$</span> prax link
<span>$</span> firefox http://myapp.dev/</pre>
</section>
