[Unit]
Description=Prax (iptables configuration)
DefaultDependencies=no
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/prax iptables start
ExecStop=/usr/bin/prax iptables stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
