# Copy this file to /etc/systemd/system/prax-iptables.service

[Unit]
Description=Prax (iptables configuration)
DefaultDependencies=no
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=oneshot
ExecStart=/opt/prax/libexec/prax-iptables start
ExecStop=/opt/prax/libexec/prax-iptables stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
